# config.yaml 文件路径
CONFIG_YAML_FILE_PATH = '/srv/docker-volumes/clash/config.yaml'

# dashboard 端口映射
DASHBOARD_WEB_PORT = 1234

# clash config.yaml 配置的 mixed-port
CLASH_CFG_MIXED_PORT = 7890
CLASH_MIXED_PORT = 7890

# clash config.yaml 配置的 mixed-port external-controller 中的端口
CLASH_CFG_EXTERNAL_CONTROLLER_PORT = 9090
CLASH_EXTERNAL_CONTROLLER_PORT = 9090